{{ define "time" }}

<div class="display" id="item-{{.Name}}">
	<div>
		<label>
			<div style="display: inline;">
                {{ .Label }}
			</div>
			<input type="time" value="{{ .State }}" style="font-size: 1.2em;" id="item-{{.Name}}-time" onchange="setItemState('{{.Namespace}}', '{{.Name}}', getTimeState{{.Name}}())">
		</label>
	</div>
	<div class="updatetime" id="item-{{.Name}}-updated">
        {{ .LastUpdated }}
	</div>
	<script>
		itemMap.set("{{ .Name }}", item => {
			console.log("setting item state")
		    let t = document.getElementById("item-{{.Name}}-time");
            let u = document.getElementById("item-{{.Name}}-updated");

            t.value = item.state;
            u.innerText = item.updated;

        });

		function getTimeState{{.Name}}() {
            let t = document.getElementById("item-{{.Name}}-time");
            return t.value;
        }
	</script>
</div>

{{ end }}