[
  {
    "time-item":
    {
      "namespace": "namecpace of the item",
      "name": "name of item to control the time"
    },
    "state-item": {
      "namespace": "namecpace of the item",
      "name": "name of item to specify state to send to controlled item"
    },
    "state": "optional state: this will override the state item",
    "controlled-item":
    [
      {
        "namespace": "namecpace of the item",
        "name": "item to be set"
      },
      {
        "namespace": "namecpace of the item",
        "name": "optional: 2nd item to be set"
        }
    ]
  }
]